.screen {
    /* display: grid; */
    /* grid-template-rows: 20vh 10vh 65vh; */
    background-color: #171718;
    /* height: 100vh; */
    overflow: hidden;
    /* display: flex;
    flex-direction: column; */
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
}

.header {
    background-color: #151e22;
    box-shadow: 0 0 20px 1px rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}

.body {
    /* display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    align-items: top;
    justify-content: center; */
    /* max-height: 100%; */
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    /* align-items: center;  */
    justify-content: space-evenly;
    /* height:inherit; */
    padding: 2% 0 2% 0;
}
